.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top:0;
    background-color: white;
    width:100%;
    margin-top: 20px;
}

.header__icon{
    object-fit: contain;
    height: 60px;
    margin-left: 10px;;
}


.header__center{
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border:1px solid lightgray;
    border-radius: 999px;
}

.header__center > input{
    border: none;
    width:250px;
    outline-width: 0;
    padding: 10px;
}

.header__right{
    display: flex;
    align-items: center;
    margin-right: 50px;
}